
@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900&subset=latin-ext');

body {
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  color: #1f1f1f;
  line-height: 1.6;
}

#header {
	background: #fff;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
	z-index: 100;
	position: relative;
}

.header-container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
}

.logo-container {
	display: flex;
	align-items: center;
}

.logo-text h1 {
	font-size: 30px;
	color: #09578b;
	padding: 0px 15px;
}

#navbar {
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}

.nav-container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0px;
	list-style: none;
	margin-top: -1px;
	margin-bottom: -1px;
}

.nav-list li {
	flex: 1 1 auto;
	text-align: center;
	overflow: hidden;
}

.nav-list li a {
	display: block;
	white-space: nowrap;
	padding: 16px 0px;
	color: #333;
	border-left: 1px solid #e9ecef;
	border-bottom: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
	cursor: pointer;
	text-decoration: none;
}

.nav-list li a:last-child {
	border-right: 1px solid #e9ecef;
}

.nav-list li a:hover {
	color: #09578b;
}

#redbar {
	background-color: #b30f0f;
	color: #fff;
	padding-top: 8px;
	padding-bottom: 8px;
	z-index: 90;
	position: relative;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
}

.redbar-container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
}

.redbar-container a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	margin-left: 16px;
}

#forecast {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	z-index: 80;
}

.forecast-container {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-gap: 30px;
	padding-top: 50px;
}

.map-bg img {
	width: 100%;
	max-width: 565px;
	height: auto;
}

.forecast-title {
	font-size: 28px;
	color: #047eb7;
	padding-bottom: 16px;
	border-bottom: 4px solid #047eb7;
	margin-top: 0px;
}

.icon {
	display: flex;
	align-items: center;
	font-size: 28px;
	font-weight: normal;
}

#forecast-extra {
	margin: 40px 0px;
}

.forecast-extra-container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
	border-top: 4px solid #047eb7;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-gap: 40px;
}

.card-title {
	font-size: 22px;
	color: #09578b;
	font-weight: normal;
	text-decoration: none;
}

.card p {
	font-size: 14px;
}

.read-more {
	font-size: 14px;
	color: #09578b;
	text-decoration: none;
}

#bluebar {
	margin-top: 50px;
	background-color: #ecf3f9;
}

.bluebar-container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px 16px;
	display: flex;
	justify-content: space-around;
}

.blue-logo img {
	width: 100%;
	max-width: 150px;
}

.metmonic {
	font-size: 35px;
	font-weight: bold;
	text-decoration: none;
	color: #09578b;
}


